/includes
/misc
/modules
/profiles
/scripts
/themes
/*.php
/*.txt
/*.config
/.editorconfig
/.htaccess
/sites/example.sites.php
/sites/default
/sites/all/themes/rubik
/sites/all/themes/tao
/sites/all/modules/contrib
