.page-content .password-description, .page-content .password-strength, .page-content .description, .page-content .form-item .description {
    font-size: 14px;
    line-height: 18px;
}

.form-item label.option {
    font-size: 12px;
}

.item-list h3, .block .block-title, .fieldset-title, .collapsible .fieldset-legend a {
    font-size: 14px;
}

.form-item label {
    font-size: 11px;
}

.maphack{
	display:block!important;
}

.group-hidden,.group_hidden{
	display:none;
}

#edit-overlay-control{
	display:none!important;
}

@media screen and (max-device-width:800px) and (orientation:landscape),screen and (max-device-width:800px) and (orientation:portrait), all and (max-width: 800px) {
	#main-content{
		display:none;
	}
	#page:after{
		content:'Admin functions require a minimum device width of 800px. Please use a larger screen.'
	}
	#page{
		padding:20px;
		
	}
}
